In [1]:
import numpy as np
import pandas as pd
a=pd.read_csv("C:/Users/abhis/OneDrive/Documents/Desktop/dataset_Facebook.csv")
print(a)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [2]:
a.describe()

       Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
count                                                 500
unique                                                500
top     139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
freq                                                    1

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                             --------------  -----
 0   Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions  500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

In [4]:
a.tail()

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

In [5]:
a.isnull()

     Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
..                                                 ...
495                                              False
496                                              False
497                                              False
498                                              False
499                                              False

[500 rows x 1 columns]

In [6]:
a.head()

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [8]:
data = {"Roll num": [10,20,30,40,50,60,70], "Age":[12,14,13,12,14,13,15],
"NAME":['John','Camili','Rheana','Joseph','Amanti','Alexa','siri']}
b =pd.DataFrame(data)
print("Original Data frame:\n")
print(b)

Original Data frame:

   Roll num  Age    NAME
0        10   12    John
1        20   14  Camili
2        30   13  Rheana
3        40   12  Joseph
4        50   14  Amanti
5        60   13   Alexa
6        70   15    siri

In [9]:
b.loc[[0,1,3]]

   Roll num  Age    NAME
0        10   12    John
1        20   14  Camili
3        40   12  Joseph

In [10]:
b.loc[0:3]

   Roll num  Age    NAME
0        10   12    John
1        20   14  Camili
2        30   13  Rheana
3        40   12  Joseph

In [11]:
b.loc[0:2,['Age','NAME']]

   Age    NAME
0   12    John
1   14  Camili
2   13  Rheana

In [12]:
b.iloc[[0,1,3,6],[0,2]]

   Roll num    NAME
0        10    John
1        20  Camili
3        40  Joseph
6        70    siri

In [13]:
b[['Roll num','NAME','Age']]

   Roll num    NAME  Age
0        10    John   12
1        20  Camili   14
2        30  Rheana   13
3        40  Joseph   12
4        50  Amanti   14
5        60   Alexa   13
6        70    siri   15

In [14]:
#creating subsets and concat
a2=a[:25]
a3=a[25:]
print(a2)

   Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0   139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1   139441;Status;2;12;3;10;0;10460;19057;1457;136...
2   139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3   139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4   139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
5   139441;Status;2;12;1;9;0;10472;20849;1191;1073...
6   139441;Photo;3;12;1;3;1;11692;19479;481;265;36...
7   139441;Photo;3;12;7;9;1;13720;24137;537;232;30...
8   139441;Status;2;12;7;3;0;11844;22538;1530;1407...
9   139441;Photo;3;12;6;10;0;4694;8668;280;183;250...
10  139441;Status;2;12;5;10;0;21744;42334;4258;410...
11  139441;Photo;2;12;5;10;0;3112;5590;208;127;145...
12  139441;Photo;2;12;5;10;0;2847;5133;193;115;133...
13  139441;Photo;2;12;5;3;0;2549;4896;249;134;168;...
14  138414;Photo;2;12;4;5;1;22784;39941;887;337;41...
15  138414;Status;2;12;3;10;0;10060;19680;1264;120...
16  138414;Photo;3;12;3;3;0;1722;2981;163;123;148;...
17  138414;Photo;1;12;2;12;1;53264;111785;1706;110...
18  138414;Status;3;12;2;3;0;3930;7509;130;86;112;...
19  138414;Photo;3;12;1;11;0;1591;2825;121;88;111;...
20  138414;Photo;2;12;1;3;0;2848;5066;200;142;184;...
21  138414;Photo;1;12;7;10;0;1384;2467;15;15;20;21...
22  138414;Link;1;12;7;10;0;3454;6853;118;104;130;...
23  138414;Photo;3;12;7;3;0;2723;4888;176;118;143;...
24  138414;Status;2;12;6;10;0;8488;15294;1341;1270...

In [15]:
print(a3)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
25   138458;Status;2;12;6;3;0;8284;15104;1521;1462;...
26   138458;Status;2;12;5;11;0;19552;34143;2806;253...
27   138458;Photo;3;12;5;3;0;2478;4306;212;124;149;...
28   138895;Photo;2;12;5;3;0;9560;18264;973;559;885...
29   138895;Video;1;12;4;11;1;36208;61262;1141;1068...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[475 rows x 1 columns]

In [17]:
#joining subsets horizontally
a6=pd.concat([a2,a3],axis=0)
a4=a.iloc[:,:2]
a5=a.iloc[:,2:]
print(a6)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [18]:
#joining subsets vertically
a6=pd.concat([a2,a3],axis=1)
print(a6)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions  \
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495                                                NaN
496                                                NaN
497                                                NaN
498                                                NaN
499                                                NaN

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 2 columns]

In [19]:
#merge
a8=a.iloc[:,:3]
a9=a.iloc[:,:2]
a10=a8.merge(a9,left_index=True,right_index=True,how='inner')
print(a10)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions_x  \
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions_y
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 2 columns]

In [20]:
#transpose
x=a.T
print(x)

                                                                                                  0    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...

                                                                                                  1    \
Page total likes;Type;Category;Post Month;Post ...  139441;Status;2;12;3;10;0;10460;19057;1457;136...

                                                                                                  2    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...

                                                                                                  3    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...

                                                                                                  4    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

                                                                                                  5    \
Page total likes;Type;Category;Post Month;Post ...  139441;Status;2;12;1;9;0;10472;20849;1191;1073...

                                                                                                  6    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;3;12;1;3;1;11692;19479;481;265;36...

                                                                                                  7    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;3;12;7;9;1;13720;24137;537;232;30...

                                                                                                  8    \
Page total likes;Type;Category;Post Month;Post ...  139441;Status;2;12;7;3;0;11844;22538;1530;1407...

                                                                                                  9    \
Page total likes;Type;Category;Post Month;Post ...  139441;Photo;3;12;6;10;0;4694;8668;280;183;250...

                                                    ...  \
Page total likes;Type;Category;Post Month;Post ...  ...

                                                                                                  490  \
Page total likes;Type;Category;Post Month;Post ...  85979;Photo;3;1;6;11;0;5280;8703;951;911;1237;...

                                                                                                  491  \
Page total likes;Type;Category;Post Month;Post ...  85979;Photo;3;1;6;3;1;6184;10228;956;901;1140;...

                                                                                                  492  \
Page total likes;Type;Category;Post Month;Post ...  85979;Link;1;1;5;11;0;45920;5808;753;655;763;1...

                                                                                                  493  \
Page total likes;Type;Category;Post Month;Post ...  85093;Photo;3;1;1;2;0;8412;13960;1179;1111;163...

                                                                                                  494  \
Page total likes;Type;Category;Post Month;Post ...  85093;Photo;3;1;7;10;0;5400;9218;810;756;1003;...

                                                                                                  495  \
Page total likes;Type;Category;Post Month;Post ...  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...

                                                                                                  496  \
Page total likes;Type;Category;Post Month;Post ...  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...

                                                                                                  497  \
Page total likes;Type;Category;Post Month;Post ...  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...

                                                                                                  498  \
Page total likes;Type;Category;Post Month;Post ...  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...

                                                                                                  499
Page total likes;Type;Category;Post Month;Post ...  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[1 rows x 500 columns]